/* Style reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

:root {
  /* Colors */
  --color-primary-green-500: hsl(158, 36%, 37%);
  --color-primary-green-700: hsl(158, 42%, 18%);
  --color-neutral-black: hsl(212, 21%, 14%);
  --color-neutral-grey: hsl(228, 12%, 48%);
  --color-neutral-cream: hsl(30, 38%, 92%);
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--color-neutral-cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 350px;
  max-width: 650px;
  min-height: 456px;
  max-height: 750px;
}

.text-preset-1 {
  font-family: "Fraunces", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: "montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 5px;
}

.text-preset-5 {
  font-family: "montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
}
