/* Style reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

:root {
  /* Colors */
  --color-primary-green-500: hsl(158, 36%, 37%);
  --color-primary-green-700: hsl(158, 42%, 18%);
  --color-neutral-black: hsl(212, 21%, 14%);
  --color-neutral-grey: hsl(228, 12%, 48%);
  --color-neutral-cream: hsl(30, 38%, 92%);
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Spacing */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--color-neutral-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

picture img {
  display: block;
  max-inline-size: 100%;
  block-size: 100%;
}

.card {
  max-width: 600px;
  min-height: 456px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: var(--spacing-100);
  overflow: hidden;
}

.cardinfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  padding: var(--spacing-400);
}

.cardtext {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.price {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
}

button {
  min-width: 236px;
  max-width: 286px;
  background-color: var(--color-primary-green-500);
  display: flex;
  justify-content: center;
  gap: var(--spacing-100);
  padding: var(--spacing-200) var(--spacing-400);
  border: none;
  border-radius: var(--spacing-100);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-green-700);
}

.text-preset-1 {
  font-family: "Fraunces", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
  color: var(--color-neutral-grey);
}

.text-preset-4 {
  font-family: "montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 5px;
  color: var(--color-neutral-grey);
  text-transform: uppercase;
}

.text-preset-5 {
  font-family: "montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  color: var(--color-neutral-grey);
  text-decoration: line-through;
}

.green {
  color: var(--color-primary-green-500);
}

.white {
  color: var(--color-neutral-white);
}

@media (max-width: 650px) {
  .card {
    flex-direction: column;
    max-width: 350px;
    max-height: 750px;
  }
}

@media (min-width: 650px) {
  picture img {
    min-width: 300px;
    object-fit: cover;
  }
}
